.clippy-toolbar-button {
  background-color: #fff;
  border: 1px solid var(--ma-color-paars-8);
  border-radius: 3px;
  color: var(--ma-color-paars-12);
  display: inline-flex;
  margin-inline-end: 4px;
  padding-block: 4px;
  padding-inline: 8px;
}
::slotted(svg) {
  inline-size: 16px;
}
.clippy-toolbar-button--pressed {
  background-color: var(--ma-color-paars-1);
  border-color: var(--ma-color-grijs-6);
}
